#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  animation: scrollBackground 30s linear infinite;
  background: URL("/Portfolio/background.svg");
}

@keyframes scrollBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 240px -240px;
  }
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


nav {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}

.screen-block{
  height: 100vh;
  width: 100%;
  flex-direction: column;
    justify-content: center;
}


.name-plate-container{
  perspective: 800px;
  perspective-origin: center;
}
.name-plate{
  font-weight: 900;
  text-transform: uppercase;
  font-size: 8rem;
  line-height: 1;
  text-shadow: 8px 1px 1px #d15b00;
  transform-style: preserve-3d;
  animation: float3D 8s ease-in-out infinite;
}

@keyframes float3D {

  0% {
    transform: rotateX(5deg) rotateY(-5deg) translateY(-10px);
  }

  50% {
    transform: rotateX(-5deg) rotateY(5deg) translateY(10px);
  }

  100% {
    transform: rotateX(5deg) rotateY(-5deg) translateY(-10px);
  }

}

.name-plate.first{
  transform: rotateY(323deg);
  color: white;
}

.name-plate.last{
  color: #331200;
  transform: rotateY(46deg) ;
}



.introduction-text{
  max-width: 500px;
    margin: auto;
    text-align: justify;
    padding: 1rem;
    border: solid white 1px;
    border-radius: 10px;
}









.section-header{
  font-size: 4rem;
    font-weight: 900;
    color: #602709;
    line-height: 1;
    padding: 2rem;
    animation: tiltdown 10s ease-in-out infinite;
    text-shadow: 0px 3px 0px #381605;
}

@keyframes tiltdown {

  0% {
    transform: rotateY(10deg) translate(0px, 0rem);;
  }

  50% {
    transform: rotateY(-10deg) translate(0px, -2rem);;
  }

  100% {
    transform: rotateY(10deg) translate(0px, 0rem);;
  }

}


.section-text-container{
  display: flex
;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.section-text{
  text-align: justify;
    padding: 2rem;
}





.do-section-text{
  text-align: justify;
    font-size: larger;
    font-style: italic;
    padding: 2rem;
}

.do-section-header{
  font-size: 6rem;
  line-height: 1;
  stroke: white;
  font-weight: 900;
  color: #ffffff;
  
}

.do-section-image{
  width: 60%;
}

.do-section-text-container{
  display: flex
;
    flex-direction: column;
    justify-content: center;
}





.how-section-text{
  text-align: justify;
  max-width: 500px;
  margin: auto;
  font-weight: 700;
  text-transform: capitalize;
  padding: 2rem;
}


.tag-scroller{
  display: flex;
  flex-direction: row;
  align-items: start;
  animation: tagscroll 20s linear infinite;
  width: fit-content;
}

.tag-block{
  width: 100%;
  width: fit-content;
}

.tag-text{
  font-size: 1rem;
    line-height: 1;
    font-weight: 700;
    margin: 1rem;
}

.tag{
  scale: 1;
  border-radius: 5px;
  border-width: 2px;
  transition: background-color  .3s ease-in-out;
  overflow: visible;
}
.tag:hover{
  background-color: transparent;
  border-color: white;
}

.tag-scroller-container{
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent 0%, black 50%, transparent 100%);
}

@keyframes tagscroll {

  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }

}








.contact-container{
  background-color: white;
  margin: 2rem;
  max-width: 800px;
    margin: auto;
    margin-top: 1rem;
    box-shadow: #00000052 0 0 20px 0;
    transform: rotateZ(355deg);
    border: solid white 10px;
    animation: paperfloat 5s ease-in-out infinite;
}

@keyframes paperfloat {

  0% {
    transform: rotateZ(355deg) rotateY(0deg) translateZ(0%);
  }


  50% {
    transform: rotateZ(354deg) rotateY(-1deg) translateZ(0rem);
  }

  100% {
    transform: rotateZ(355deg) rotateY(0deg) translateZ(0rem);
  }



}


.contact-text-container{
  padding: 2rem;
  background: #FFF4E0;
}


.contact-address-container{
  color: grey;
  align-items: flex-end !important;
  justify-content: space-between;
  gap: 0.3rem;
}

.contact-address{
  text-align: end;
    font-size: 0.8rem;
    font-style: italic;
}

.contact-info-container{
  color: black;
  width: -webkit-fill-available;
}

.contact-links{
  width: -webkit-fill-available;
  justify-content: flex-start;
  flex-grow: 1;
    align-items: center;
}

.contact-link{
  color: #744d07;
  text-decoration: underline;
}


